{{/*
# SPDX-FileCopyrightText: 2023 Phu Nguyen <phu@kde.org>
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "main" }}
  <div class="container">
    <h1>{{ .Title }}</h1>
    <hr>
    {{ range .Params.lists }}
      <h2>{{ .title }}</h2>
      <ul>
        {{ range .items }}
          <li><a href={{ .link }}>{{ .label }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
    {{ .Content }}
  </div>
</main>

{{ end }}
