{{/*
# SPDX-FileCopyrightText: 2023 Phu Nguyen <phu@kde.org>
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
{{ $common := resources.Get "scss/home.scss" }}
{{ $custom := resources.Get "scss/main.scss" }}
{{ $style := slice $common $custom | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<main id="content">
  <section class="text-center py-4 mt-0 hero-section" style="">
    <h1>{{ .Site.Title }}</h1>
    <h2>{{ .Site.Params.subtitle }}</h2>
    <p>{{ .Site.Params.description }}</p>
    <a href="{{ "/download" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button noblefir my-2 mx-3">{{ i18n "Home.downloadbutton" }}</a>
    <figure class="mx-auto p-4" style="max-width: 1000px">
      <img class="img-fluid" alt={{ i18n "Home.alt_img"}} src="/images/screenshots/main_window/main_window.png"/>
      <figcaption>{{ i18n "Home.figcaption" | markdownify}}</figcaption>
    </figure>
  </section>

  <!-- Features Section -->
  <section class="container section">
    <h1 class="mb-4 text-center">{{ i18n "Home.features" }}</h1>
    <div class="row justify-content-center">
      {{ range .Params.features }}
        <div class="col-12 col-sm-5 col-xl-2 mb-4">
          <div class="card p-3 h-100 bg-primary bg-opacity-25">
            <div class="d-flex flex-column justify-content-center" style="min-height: 150px">
              <img src="/images/icons/{{ .icon }}" class="card-icon mb-3" />
              <h2 class="mt-0 mb-3 h4">{{ .title }}</h2>
            </div>
            <p>{{ .description | markdownify }}</p>
            <p class="mt-auto"><a href="{{ .link | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more">{{ i18n "learn-more" }}</a></p>
          </div>
        </div>
      {{ end }}
    </div>
    <p class="text-center text-muted mt-4">{{ .Params.card_copyright | markdownify }}</p>
  </section>


  {{ .Content }}

  <!-- News Section -->
  <section class="section-green py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "posts" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <div class="text-lighter">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1 h4">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary | plainify }}
            {{end}}
            {{ if .Truncated }}
              <a href="{{ .RelPermalink }}" class="d-block mt-2">{{i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="{{ "/news" | relLangURL }}" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "view-all-posts" }}</a>
    </div>
  </section>

  <!-- Learn more Section -->
  <section class="section-red py-4">
    <div class="container text-center">
        <h2 class="mt-0">Learn more</h2>
          <div class="d-flex gap-3 justify-content-center">
          {{ range .Params.learnmore }}
              <a href="{{ .link | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button noblefir my-2 mx-3">{{ .title | markdownify }}</a>
          {{ end }}
        </div>
    </div>
  </section>

</main>

{{ end }}
